@import '../bases/variables';
@import '../bases/lists';


.redesSociales{
    background-color: $bg-redes; 
    height: 1.7em;

    img{
        height: 30px; 
        width: 30px; 
        padding: 4px;
    }
}

.menu{
    background-color: $bg-color;
    height: 4.85em;


    .ulNav{
        margin: auto;
    }


    .ulEnlace {
        color: nth($colores,1);
        text-decoration: none;
        text-transform: uppercase;   
        font-weight: 600;
    }


    .ulLink{
        padding: $padding;
    }
    
    
    a:hover{
        color: nth($colores,2);
        transition: all .35s;
    }


    @media screen and (max-width: 992px) {

        .ulLink{
            background-color: $bg-color;
            text-align: center;
        }
    
    }
}