@import '../bases/variables';
@import '../bases/lists';

.acercaNos{
    font-size: 2em;
    text-align: center;
    margin: 1em;
}

// ¿Quiénes somos?

.quienesSomos{
    width: 80%;
    margin: auto;
    text-align: center;
    scroll-margin-top: 15ex;

    .tituloSomos{
        font-size: 1.6em;
        margin: 1em;
    }

    .textoSomos{
        text-align: center;
        word-spacing: 1.5px;
        margin: 5px;
        margin-bottom: 50px;
    }
}


// Clientes


.clientesSection{
    background-color: rgba(0, 0, 0, 0.93);
    scroll-margin-top: 6ex;

    .cliente{
        background-color: #fff;
        box-shadow: 3px 3px 3px #FFBE0F;
        border-radius: 20px;

        img{
            box-shadow: 5px 5px 5px rgb(34, 32, 32);
            border-radius: 50%;
            margin: 3px 0 5px;
            transition: all .5s;
        }
    
        p{
            color: #000;
            margin: 5px;
            padding: 2px;
        }
    }
}


.cliente:hover img{
    transform: rotate(-10deg);
}